<app-header></app-header>

<table>
  <tr>
    <td>
      <app-chart-select (chartDataEvent)="onChartDataReceived($event)"></app-chart-select>
    </td>
    <td>
      <app-visualize [chartOptions]="chartOptions"></app-visualize>
    </td>
  </tr>
</table>


<!-- <div class="row m-0" style="height: 600px;">
  <div class="col-lg-3 col-md-3 col-sm-4 col-4 p-0">
    <app-chart-select (chartDataEvent)="onChartDataReceived($event)"></app-chart-select>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-8 p-0">
    <app-parameter-select></app-parameter-select>
    <div class="h-75 p-3 border">
      <app-visualize [chartOptions]="chartOptions"></app-visualize>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>