<app-chart-type-select></app-chart-type-select>
<app-parameter-select></app-parameter-select>

<div>
    <!-- Database Selection -->
    <label>Select Dataset:</label>
    <select [(ngModel)]="selectedDatabase" (change)="onChange()">
      @for (db of databases; track db) {
        <option [value]="db">{{ db }}</option>
      }
    </select>

    <!-- Chart Type Selection -->
    <label>Select Chart Type:</label>
    <select [(ngModel)]="selectedChart" (change)="onChange()">
      @for (chart of chartTypes; track chart) {
        <option [value]="chart">{{ chart }}</option>
      }
    </select>

    <!-- Chart Input Fields -->
    @for (field of requiredFields; track field) {
      <div>
        <label>{{ field }}:</label>
        <select [(ngModel)]="formData[field]">
          @for (col of getFilteredColumns(field); track col){
            <option [value]="col">{{ col }}</option>
          }
        </select>
      </div>
    }
    @for (field of optionalFields; track field){
      <div>
        <label>{{ field }}:</label>
        @if (field === 'bins') {
          <input type="number" [(ngModel)]="formData.bins" min="1" max="50">
        }

        @else if (field === 'fill') {
          <input type="checkbox" [(ngModel)]="formData.fill">
        }

        @else(){
          <select [(ngModel)]="formData[field]">
            @for (col of getFilteredColumns(field); track col){
              <option [value]="col">{{ col }}</option>
            }
          </select>
        }
      </div>
    }

    <button (click)="generateChart()">Generate Chart</button>
</div>
